* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vw;
  width: 100vh;
  font-family: 'Consolas', monospace;
}

/* 用户 eSIM 购买列表表格样式 */
.id-table {
  width: 90vw; /* 表格宽度 */
  margin: 5px auto; /* 居中并增加间距 */
  background-color: #333333; /* 灰色背景 */
  border-collapse: collapse; /* 合并边框 */
}

.id-table td {
  padding: 10px; /* 内边距 */
  color: white; /* 白色文字 */
  font-family: 'Consolas', monospace; /* 字体设置 */
}

/* 用户 eSIM 购买列表表格样式 */
.esim-table {
  width: 90vw; /* 表格宽度 */
  margin: 5px auto; /* 居中并增加间距 */
  background-color: #333333; /* 灰色背景 */
  border-collapse: collapse; /* 合并边框 */
}

.header-text {
  color: white;
  font-family: 'Consolas', monospace;
  font-size: 18px;
  text-align: center;
  margin: 3vh;
}

.esim-table td {
  padding: 10px; /* 内边距 */
  color: white; /* 白色文字 */
  font-family: 'Consolas', monospace; /* 字体设置 */
}

.show-qr-button {
  background-color: #c37430;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-qr-button:hover {
  background-color: #45a049; /* 鼠标悬停时变暗 */
}

/* 扫码按钮样式 */
.scan-qr-button {
  background-color: #c37430; /* 恢复原始的按钮颜色 */
  color: white;
  width: 90vw;
  padding: 10px 20px;
  margin: 5vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* QRCode 弹窗背景样式 */
.qrcode-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60vh; /* 占屏幕的 60% 高度 */
  background-color: #171717;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  animation: slideUp 0.2s ease-out; /* 弹窗滑出效果 */
}

/* 动画效果 */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

/* QR Code 图片弹窗样式 */
.qr-code-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.qr-code-image-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex; /* 使用 flexbox 布局 */
  flex-direction: column; /* 子元素从上到下排列 */
  align-items: center; /* 水平居中 */
}

.qr-code-image {
  width: 70vw;
  height: auto;
  margin-bottom: 2vh;
}

.close-qr-button {
  background-color: #c37430;
  color: white;
  padding: 10px 20px; /* 调整按钮的大小 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-qr-button:hover {
  background-color: #8c5322; /* 鼠标悬停时变暗 */
}

.qr-result-text {
  padding: 10px 20px auto;
  margin-left: 10vw;
  width: 80vw;
  word-wrap: break-word; /* 自动换行 */
  color: white;
  text-align: center;
  margin-top: 10px;
  font-family: 'Consolas', monospace;
}

.esim-container {
  width: 100vw;
  height: calc(100vh - 50px);
  padding: 0;
  margin: 0;
  background-color: transparent;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
